body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* **********LETRAS************ */
.tittle{
  padding-left: 1rem;
  padding-top: 3rem;
  color: rgb(14, 37, 58);
  line-height: 7rem;
  font-family: 'Anton', sans-serif;
  font-size: 4rem;
  text-transform: uppercase;
}
.price{
  padding-left: 1rem;
  color: rgb(3, 185, 185);
  line-height: 2rem;
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
}
/* ********************************* */

.navbar-fixed{
  position: fixed;
  background-color: transparent;
  width: 100%;
  height: 4rem;
  z-index: 20;
}
.navbar{
  display: inline-block;
  position: relative;
  width: 100vw;
}

.navbar-left{
  position: relative;
  float: left;
  width: 20vw;
  height: 4rem;
  background-color: #ffffff;
  border-bottom: 1px solid #b4b3b39f;
}
.navbar-center{
  position: relative;
  float: left;
  width: 60vw;
  height: 4rem;
  background-color: #ffffff;
  border-bottom: 1px solid #b4b3b39f;
}
.navbar-right{
  position: relative;
  float: left;
  width: 20vw;
  height: 4rem;
  background-color: #ffffff;
  border-bottom: 1px solid #b4b3b39f;
}
.logo{
  width: 20rem;
  height: 4rem;
  background-color: rgb(3, 185, 185);
}
.secction1{
    background-color: transparent;
    position: relative;
    padding: 4rem 0;
    width: 100%;
    height: calc(100vh - 8rem); 
}
.items-cont{
  position: relative;
  top: 3%;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;
  width: 100%;
  min-height:57%;
  
}
.container-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 4rem; 
}
.img{
  display:block;
  margin:auto;
  }
.icon{
  margin: 1.2rem 18px;
  font-size: 1.5rem;
  font-weight: 100;
  color: rgb(61, 85, 83);
}

.btn{
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.05);
}
.btn-none{
  border: none;
  outline: transparent;
  background-color: transparent;
}
.btn-none:hover{
  cursor: pointer;
}
.item-card{
  position: relative;
  min-width: 20rem;
  width: 95%;
  max-width: 25rem;
  height: 17rem;
  overflow: hidden;
  
  background-color: #F5F5F5;

  margin-left: 2%;
  margin-top: 6%;
  margin-bottom: 2%;
  border-radius: 7%;
  
  
  -webkit-box-shadow: 3px 3px 20px 2px rgba(138,136,138,0.6);
  -moz-box-shadow: 3px 3px 20px 2px rgba(138,136,138,0.6);
  box-shadow: 3px 3px 20px 2px rgba(138,136,138,0.6);
}
.center{
  z-index: 10;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-60%);
}
.tittle-down{
  position: absolute;
  width: 80%;
  height: 15%;
  bottom: 5%;
  left: 10%;
  background-color: transparent;
  overflow: hidden;
  z-index: 20;
}
.left{
  position: relative;
  float: left;
  width: 50%;
  height: 85%;
  background-color: #F5F5F5;
}
.right{
  position: relative;
  float: left;
  width: 50%;
  height: 85%;
  background-color: #F5F5F5;
}
.secction-img-menu{
  position: absolute;
  top: 10%;
  background-color: transparent;
  width: 100%;
}
.secction-img{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
/* ************SLIDER*************** */
.slider{
  display: flex;
  max-width: 100%;
  height: 70%;
  width: 80%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;

  margin-top: 30%;
  margin-left: 50%;
  transform: translate(-50%,-30%);
}
.slider img{
  width: 100%;
  object-fit: cover;
  scroll-snap-align: center;
}
.slider::-webkit-scrollbar {
  height: 10px;
}
.slider::-webkit-scrollbar-thumb {
  background: rgb(3, 185, 185);
  border-radius: 5px;
}
/* ********************************** */

/* ********Imagenes store********** */
.img-link{
  list-style: none;
  width: 70px;
  height: 70px;
  background-color: #F5F5F5;
  margin-right: 5%;
  border-radius: 5px;
  overflow: hidden;

  -webkit-box-shadow: 0px 0px 5px 0px rgba(143,139,143,1);
  -moz-box-shadow: 0px 0px 5px 0px rgba(143,139,143,1);
  box-shadow: 0px 0px 5px 0px rgba(143,139,143,1);
}
.img-link:hover{
  transform: scale(1.1);
}
/* ************************************* */


/* ------------------------------------------------------------------------------------------------------------- */
@media (max-width:956px){
  .secction1{
    background-color: transparent;
    position: relative;
    top: 4rem;
    width: 100%;
    height: auto;
}
  .navbar-left{
    width: 10vw;
  }
  .navbar-center{
    width: 65vw;
  }
  .navbar-right{
    width: 25vw;
  }
  .logo{
    margin-top:.5rem;
    width: 14rem;
    height: 3rem;
  }
  .icon{
    margin: 1.3rem 8px;
    font-size: 1.5rem;
  }

  .btn{
    cursor: pointer;
  }
  .btn:hover{
    transform: scale(1);
  }
  .left{
    position: relative;
    width: 100%;
    height: 18rem;
  }
  .right{
    position: relative;
    width: 100%;
    height: 85%;
  }
  .slider{
    display: flex;
    max-width: 500px;
    height: 500px;
    width: 100%;
    margin-top: 0%;
  }
  .slider img{
    width: 100%;
    height: 80%;
  }
  .slider::-webkit-scrollbar {
    height: 0px;
  }

  .secction-img-menu{
    top: 67%;
  }
  .secction-img{
    align-items: center;
    justify-content: center;
    margin-left: -7%;
  }
  .img-link{
    list-style: none;
    width: 70px;
    height: 70px;
    margin-left: 1%;
  }
  .img-link:hover{
    transform: scale(1);
  }
  /* **********LETRAS************ */
.tittle{
  padding-left: 0rem;
  padding-top: 1.5rem;
  line-height: 4rem;
  font-size: 3rem;
}
.price{
  padding-left: 0rem;
}
/* ********************************* */
  
}

/* ------------------------------------------------------------------------------------------------------------- */
  @media (min-width:1680px){
    
    .items-cont{
      
      width: 80%;
      
    }
  }